###### Import libraries and upload the data from wikipedia

In [120]:
import pandas as pd
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url, header=0)[0]
df.head()
df.shape

(287, 3)

###### Remove rows with not assigned values

In [121]:
df = df.set_index("Borough")
df = df.drop("Not assigned", axis=0)
df.reset_index(inplace=True)
dfgroup.sort_values("Postcode", inplace=True)
df.head()
df.shape

(210, 3)

In [122]:
df=df.set_index(["Postcode","Borough"])
df.head()

                              Neighbourhood
Postcode Borough
M3A      North York               Parkwoods
M4A      North York        Victoria Village
M5A      Downtown Toronto      Harbourfront
M6A      North York        Lawrence Heights
         North York          Lawrence Manor

###### Group the values by Postcode identity and gather Neighbourhood information separated by a comma

In [123]:
dfgroup = df.groupby(level=['Postcode','Borough'],sort=False).agg( ','.join)
dfgroup.head()

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto                     Harbourfront
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Downtown Toronto                     Queen's Park

In [124]:
dfgroup.reset_index(inplace=True)
dfgroup.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A  Downtown Toronto                     Queen's Park

##### Show the shape of the final dataframe

In [125]:
dfgroup.shape

(103, 3)